C_Socket/TcpClient1/Debug/TcpClient1.exe.manifest
C_Socket/TcpClient1/Debug/TcpClient1.exe
C_Socket/TcpClient1/Debug/
C_Socket/TcpClient1/TcpClient1/Debug/
C_Socket/TcpClient2/Debug/
C_Socket/TcpClient3/Debug/
C_Socket/TcpServer/Debug/
C_Socket/TcpServer/x64/Debug/
C_Socket/TcpClient1/ipch/
C_Socket/TcpClient1/x64/Debug/
C_Socket/TcpClient1/TcpClient1.sdf
